{% extends "home/layout.html" %}
{% block content %}
<div class="detail-marge">
    <div class="detail">
        <div class="info-buy">
            <div class="buy-title">
                <p>Pour vos commandes, contactez les numeros suivants : </p>
            </div>
            <div class="contact-buy">
                <p>Mobicash : +226 70 71 98 38</p>
            </div>
            <div class="contact-buy">
                <p>Orange Money : +226 76 92 73 24</p>
            </div>
            <div class="contact-buy">
                <p>Email : claudysav01@gmail.com</p>
            </div>
            <div class="contact-buy">
                <p>Email : nazealiouattara@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}