{% extends "home/layout.html" %}
{% block content %}
    <div class="categorie-title">
        <p>Nouveaux sac à main</p>
    </div>
    <div class="categorie">
        {%for item in docBag%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'bag', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="categorie-title">
        <p>Nouveaux models de pantalons</p>
    </div>
    <div class="categorie">
        {%for item in docPant%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'pant', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="categorie-title">
        <p>Nouvelles collections d'habits</p>
    </div>
    <div class="categorie">
        {%for item in docClothe%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'clothe', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="categorie-title">
        <p>Nouvelles collections de Chaussures</p>
    </div>
    <div class="categorie">
        {%for item in docClothe%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'shoe', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="categorie-title">
        <p>Nouvelles montres</p>
    </div>
    <div class="categorie">
        {%for item in docWatch%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'watch', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="categorie-title">
        <p>Telephones originaux</p>
    </div>
    <div class="categorie">
        {%for item in docPhone%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'phone', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="categorie-title">
        <p>Divers</p>
    </div>
    <div class="categorie">
        {%for item in docOther%}
        <div class="col-row">
            <img src={{item['picture']}} alt="Artiste de valeur">
            <div class="product-name">
                <h4>{{item['product_name']}}</h4>
                <h4>Prix : {{item['product_price']}}</h4>
                <h4><a href="{{url_for('detail', categ = 'other', index = loop.index-1)}}">Acheter</a></h4>
            </div>
        </div>
        {%endfor%}
    </div>
{% endblock content%}




