{%if admin == 'admin'%}
{% extends "admin/admin.html" %}
{% block content1 %}
<div class="categorie-title">
    <p><a href="{{url_for('addOther')}}">Ajouter autres produits</a></p>
</div>
<div class="categorie">
    {%for item in docs%}
    <div class="col-row">
        <img src={{item['picture']}} alt="Artiste de valeur">
        <div class="product-name">
            <h4>{{docs[index]['product_name']}}</h4>
            <h4>Prix : {{docs[index]['product_price']}}</h4>
            <h4>Modifier</h4>
            <h4>supprimer le produit</h4>
        </div>
    </div>
    {%endfor%}
</div>
</div>
{% endblock content1%}
 {%else%}
{% extends "home/layout.html" %}
{% block content %}

<div class="categorie-title">
    <p>Materiels divers</p>
</div>
<div class="categorie">
    {%for item in docs%}
    <div class="col-row">
        <img src={{item['picture']}} alt="Artiste de valeur">
        <div class="product-name">
            <h4>{{item['product_name']}}</h4>
            <h4>Prix : {{item['product_price']}}</h4>
            <h4><a href="{{url_for('detail', categ = 'other', index = loop.index-1)}}">Acheter</a></h4>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock content%}
{%endif%}

