{% extends "home/layout.html" %}
{% block content %}
<div class="content-section">
    <div class="section">
        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <legend class="bottom-border">Poster un nouveau article</legend>
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.product_name.label(class="form-control-label")}}
                    {{form.product_name(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.product_price.label(class="form-control-label")}}
                    {{form.product_price(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.description.label(class="form-control-label")}}
                    {{form.description(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    <select name="categ" method="GET" action="/">
                        <option value="{{categorie[0]}}" selected>{{categorie[0]}}</option>
                        {% for cat in categorie[1:] %}
                          <option value="{{cat}}">{{cat}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="sub_categ" method="GET" action="/">
                        <option value="{{sub_categorie[0]}}" selected>{{sub_categorie[0]}}</option>
                        {% for cat in sub_categorie[1:] %}
                          <option value="{{cat}}">{{cat}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{form.pictures.label()}}
                    {{form.pictures(class="form-control-file")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
</div>
{% endblock content%}