.categorie-title{
    width: 100%;
    background-color:orangered;
    
}
.categorie-title p{
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.categorie-title a{
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.categorie{
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: auto auto auto auto;
}
.categorie .col-row{
    height: fit-content;
    margin: 24px;
    background-color: white;
    border-radius: 5px;
}
.categorie .col-row img{
    border-radius: 5px;
    height: 250px;
    width: 200px;
}
.categorie .col-row .product-name{
    background-color: rgba(32, 33, 82, 0.966);
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px;
}
.product-name h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
}

.content-section{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 40%;
    
}
.section{
    height: fit-content;
    padding: 15px;
    background-color: wheat;
}
.admin_home{
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 200px;
    padding-bottom: 200px;  
}

.detail-marge{
    padding-bottom: 30px;
}

.detail{
    background-color: wheat;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 300px 350px 300px;
    margin: 25px;
}
.detail-pic img{
    width: 260px;
    height: 300px;
}

